<!-- Toolbar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="toolbar" role="banner">
  <img width="80" alt="logo" [routerLink]="['/']" class="logo" src="/assets/images/Logo2.png" />

  <div class="active "><a style="font-size: 20px; text-decoration: none;
  color:grey;" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Home</a>
  </div>
  <div class="name"><a style="font-size: 20px;text-decoration: none;
  color: gold;" class="p-2 " routerLink="/shop" routerLinkActive="active"> Shop</a>
  </div>

  <div class="spacer"></div>
  <div class="wrapper"><a  style="font-size: 20px;text-decoration: none;
  color: grey;" class="p-2 " routerLink="/basket" > <i class="fa fa-shopping-basket"
        aria-hidden="true"></i> <span *ngIf="(basket$ | async) as basket" style="font-size: 15px;text-decoration: none;
  color: green;">{{basket.items.length}}</span></a></div>


  <a style="font-size: 20px;text-decoration: none;
  color: gold;" class="p-2 " routerLink="/" routerLinkActive="active"> <i class="fa fa-sign-in"></i></a>

  <a style="font-size: 20px;text-decoration: none;
  color: grey;" class="p-2 " routerLink="/shop" routerLinkActive="active"> <i class="fa fa-user-plus"></i></a>
</div>

