/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
.xng-breadcrumb {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
}

label.xng-breadcrumb-trail {
    margin-bottom: 0;
    color: #FDD603;
} 

.xng-breadcrumb-separator {
    padding: 0 0;
}